@import "@/styles/global.module.scss";

.authLayout{
    display: flex;
    justify-content: center; // Center horizontally
    align-items: center; // Center verticall
    background-color: $background-color;
    color:$text-color;
    width: 100%;
}



.authLayoutContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; // Center the flex container horizontally
    align-items: center; // Center the flex container vertically
  }
  
  .exchangeIcon {
    flex: 0 0 calc(33.33% - 40px);
    margin: 20px;
    display: flex; // Make the container a flex container
    justify-content: center; // Center items horizontally
    align-items: center; // Center items vertically
  }

/* 900px */
@media only screen and (min-width: 56.25rem) {

}

@media screen and (max-width:900px){

}